@page "/"
@inject IScriptEngine scriptEngine


<div class="mb-3">
  <label for="script" class="form-label">Script</label>
  <textarea class="form-control" rows="25" id="script" @bind="@Script" />
</div>

<div class="alert alert-primary" role="alert" hidden="@string.IsNullOrWhiteSpace(Result)">
  @Result
</div>

<div class="alert alert-danger" role="alert" hidden=@string.IsNullOrWhiteSpace(Error)>
    @Error
</div>

<button type="button" class="btn btn-primary" @onclick="RunAsync">Run Script</button>
<button type="button" class="btn btn-warning position-relative" @onclick="CollectionGC">
    Collect GC
     <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
         PS: @WorkingSet GC: @GCMemory
  </span>
</button>

@code{
    private Timer? _timer;

    [Parameter]
    public string? Script { get; set; }=@"return $""Hello {Data}!"";";

    [Parameter]
    public string? Error { get; set; }

    [Parameter]
    public string? Result { get; set; }

    [Parameter]
    public string? WorkingSet { get; set; }

    [Parameter]
    public string? GCMemory{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _timer = new Timer(async _ =>
        {
            await InvokeAsync(() =>
            {
                WorkingSet = GetProcessMemory();
                GCMemory = GetGCMemory();
            });
        }, null, 0, 1000);
        WorkingSet = GetProcessMemory();
        GCMemory = GetGCMemory();
    }

    public async Task RunAsync()
    {
        Error = null;
        Result = null;

        if (string.IsNullOrWhiteSpace(Script))
        {
            Error="Script is required";
            return;
        }

        try
        {
            var result = await scriptEngine.RunAsync<object>(Script,new Globals());
            if (result != null)
            {
                if(result is string content)
                {
                    Result = content;
                }
                else
                {
                    Result = JsonSerializer.Serialize(result);
                }
            }
        }
        catch (Exception exception)
        {
            Error = exception.Message;
        }
    }

    public string GetGCMemory()
    {
        var gcMemory = GC.GetTotalMemory(false);
        return $"{gcMemory / 1024 / 1024} MB";
    }

    public string GetProcessMemory()
    {
        var workingSet = Process.GetCurrentProcess().WorkingSet64;
        return $"{workingSet / 1024 / 1024} MB";
    }

    public void CollectionGC()
    {
        GCSettings.LargeObjectHeapCompactionMode = GCLargeObjectHeapCompactionMode.CompactOnce;
        GC.Collect(2, GCCollectionMode.Forced, true, true);
        GC.WaitForPendingFinalizers();
    }
}